
.idea/brc-105.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/tasks.xml
.idea/modules.xml
.idea/dictionaries/
.idea/shelf/
.idea/idea.log
.idea/usage.statistics.xml
.idea/vcs.xml
.DS_Store
.idea/.name
.idea/.name
.idea/codrone-edu-python.iml
.idea/workspace.xml
codrone_edu/.idea/vcs.xml
.DS_Store
*.pyc
.venv
